1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).

Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.

eval() is not allowed. 

In case of division, whenever the second number equals
&quot;0&quot; return -1.
For example:
&quot;15 // 0&quot; ➞ -1

Examples

arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24

arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0

arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144

arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

In [1]:
def arithmatic_operation(s):
    lst = s.split()
    res =0
    if '+' in lst:
        res = int(lst[0])+int(lst[2])
    if '-' in lst:
        res = int(lst[0])-int(lst[2])
    if '//' in lst:
        if lst[2]=='0':
            return -1
        else:
            res = int(lst[0])//int(lst[2])
    if '*' in lst:
        res = int(lst[0])*int(lst[2])
    
    return res
s =  "12 + 24"
s1 = "23 - 21"
s2 =  "12 // 12" 
s3 =  "12 * 21"
s4 = "12 // 0"
arithmatic_operation(s4)

-1

In [2]:
arithmatic_operation(s)

36

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [3]:
import numpy as np
def perimeter(m):
    a,b,c = [0,0,0]
    x1,y1 = m[0][0], m[0][1]
    x2,y2 = m[1][0], m[1][1]
    x3,y3 = m[2][0], m[2][1]
    p = np.sqrt((x1-x2)**2 + (y1-y2)**2) + np.sqrt((x2-x3)**2 + (y2-y3)**2) + np.sqrt((x3-x1)**2 + (y3-y1)**2)  
    return p
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) 
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.414213562373095

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the height of the tallest skyscraper.

In [4]:
def tallest_skyscraper(a):
    a = np.array(a)
    temp = 0
    for i in range(a.shape[1]):
        if temp < np.count_nonzero(a[:,i]==1):
            temp = np.count_nonzero(a[:,i]==1)
           
    return temp

a= [[0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 1, 0],
    [0, 0, 1, 0, 1, 0],
    [0, 1, 1, 1, 1, 0],
    [1, 1, 1, 1, 1, 1]]
b= [
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]

In [5]:
tallest_skyscraper(a)

4

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target. This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days Bonus

0 to 32 days Zero

33 to 40 days SGD$325 per billable day

41 to 48 days SGD$550 per billable day

Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [6]:
def bonus(d):
    if d<=32:
        return 0
    if d>=33 and d<=40:
        return (d-32)*325
    if d>=41 and d<=48:
        return (40-32)*325+(d-40)*550
    if d>48:
        return (40-32)*325+(48-40)*550+(d-48)*600

In [7]:
bonus(15)

0

In [8]:
bonus(37)

1625

In [9]:
bonus(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself. Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False

# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True

# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [10]:
def calculateLength(n):
    length= 0
  
    while(n!=0):
        length=length+1
        n//=10
    return length

def checkdis(n):
    length =calculateLength(n)
    num =n
    sum_=0
    
    while (n>0):
        rem = n%10
        sum_ = sum_+int(rem**length)
        n = n//10
        length = length-1
        
    if sum_ == num:
        print(f'{num} is a disarium number')
    else:
        print(f'{num} is not a disarium number')

In [11]:
checkdis(135)

135 is a disarium number