**1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.**

In [1]:
test1 = "This is a test of the emergency text system,"
with open('test.txt', 'w') as f:
    f.write(test1)

In [2]:
f.close()

**2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?**

In [3]:
with open('test.txt', 'rt') as fin:
    test2 = fin.read()
len(test2)
fin.close()

In [4]:
test1 == test2

True

**3. Create a CSV file called books.csv by using these lines:**

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [5]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [6]:
outfile.close()

**4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).**

In [9]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [10]:
db.commit()

**5. Read books.csv and insert its data into the book table.**

In [11]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [12]:
infile.close()

In [13]:
db.commit()

**6. Select and print the title column from the book table in alphabetical order.**

In [15]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

**7. From the book table, select and print all columns in the order of publication.**

In [16]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

**8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.**

In [17]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.**

In [19]:
!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     -------------------------------------- 246.2/246.2 kB 2.2 MB/s eta 0:00:00
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\vr19\cnn_classifier\cnn_classifier\env\lib\site-packages (from redis) (21.3)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\vr19\cnn_classifier\cnn_classifier\env\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\vr19\cnn_classifier\cnn_classifier\env\lib\site-packages (from deprecated>=1.2.3->redis) (1.14.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\vr19\cnn_classifier\cnn_classifier\env\lib\site-packages (from packaging>=20.4->redis) (3.0.9)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.3.4

In [22]:
import redis
conn = redis.Redis()
conn.delete('test')

**10. Increment the count field of test and print it.**

In [ ]:
conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')