**Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.**

SELECT * FROM(
SELECT emp_name, salary, ROW_NUMBER() 
over(ORDER BY salary DESC) AS ranking FROM employee) AS k
WHERE ranking=5;

**Q-20. Write an SQL query to fetch the list of employees with the same salary.**

SELECT emp_name, salary From
 (
 SELECT emp_name, salary, Count(*) Over (Partition by salary) as SalaryCnt
 FROM employee
 ) S1
WHERE SalaryCnt>1
ORDER By salary Desc